"""
Sample settings
"""

# Global Settings

# TENANTID              [Required] Microsoft Tenant ID

TENANTID = '<tenant-id>'

# Settings for Microsoft Defender ATP API

# The following variables are needed to generate a DATP token validity (default:
# 3600 seconds) and define the time window
#
# DATPAPPID             [Required] replace with your app ID
# DATPAPPSECRET         [Required] replace with your app secret
# DATPTOKENURL          [Required] OAuth2 provider for generating token. This is normally
#                                  'https://login.windows.net/%s/oauth2/token'
# DATPRESOURCEIDURL     [Required] Should be 'https://api-eu.securitycenter.windows.com/api'
# DATPAPPIDURL          [Required] AppID URL - usually the URL for a Security Center alerts
#                                  API, e.g.: 'https://api-eu.securitycenter.windows.com/api'
# DATPTIME              [Required] Time window of alerts to ingest into EIQ (default: 3600)
# DATPSSLVERIFY         [Required] Verify the SSL connection (default: yes)
# DATPADMAPPING         [Optional] Dictionary that maps <email.domain> to the (Azure) AD
#                                  forest(s) users. Example: { 'company.com': 'domain' }
#                                  will map 'username@company.com' to the EIQ handle
#                                  'domain\\username'. You can have multiple dictionary
#                                  entries for multiple domains/forests.

DATPAPPID = '<app-id>'
DATPAPPSECRET = '<app-secret>'
DATPADMAPPING = { 'company.com': 'domain' }
DATPTOKENURL = 'https://login.windows.net/%s/oauth2/token' % (DATPTENANTID)
DATPRESOURCEIDURL = 'https://graph.windows.net'
DATPAPPIDURL = 'https://wdatp-alertexporter-eu.windows.com/api'
DATPTIME = 3600
DATPSSLVERIFY = True

# Settings for Microsoft Security Center API
#
# MSSCURL               [Required] MSSC URL: 'https://api.securitycenter.windows.com/api'
# MSSCRESOURCEAPPIDURI  [Required] MSSC Resource URI: 'https://api.securitycenter.windows.com'
# MSSCLIENTID           [Required] Replace with your Client ID
# MSSCAPPSECRET         [Required] Replace with your Client Secret
# MSSCADMAPPING         [Optional] Dictionary that maps <email.domain> to the (Azure) AD
#                                  forest(s) users. Example: { 'company.com': 'domain' }
#                                  will map 'username@company.com' to the EIQ handle
#                                  'domain\\username'. You can have multiple dictionary
#                                  entries for multiple domains/forests.
# MSSCTOKENURI          [Required] -> 'https://login.microsoftonline.com/%s/oauth2/token'
# MSSCSSLVERIFY         [Required] Verify the SSL connection (default: yes)

MSSCURL = 'https://api-eu.securitycenter.windows.com/api'
MSSCRESOURCEAPPIDURI = 'https://api.securitycenter.windows.com'
MSSCCLIENTID = '<client-id>'
MSSCCLIENTSECRET = '<client-secret>'
MSSCADMAPPING = {'company.com': 'yourADdomain'}
MSSCTOKENURI = 'https://login.microsoftonline.com/%s/oauth2/token' % (TENANTID)
MSSCSSLVERIFY = True

# Settings for Microsoft Graph API

# GRAPHURL              [Required] Graph API endpoint: 'https://graph.microsoft.com/v1.0/'
# GRAPHRESOURCEAPPIDURI [Required] Should be 'https://graph.microsoft.com'
# GRAPHCLIENTID         [Required] Your Graph client ID
# GRAPHCLIENTSECRET     [Required] Your Graph Secret
# GRAPHTOKENURI         [Required] 'https://login.microsoftonline.com/%s/oauth2/token'
# GRAPHSSLVERIFY        [Required] Verify the SSL connection. Do not change unless you know
#                                  what you are doing.

GRAPHURL = 'https://graph.microsoft.com/v1.0/'
GRAPHRESOURCEAPPIDURI = 'https://graph.microsoft.com'
GRAPHCLIENTID = '<client-id>'
GRAPHCLIENTSECRET = '<client-secret>'
GRAPHTOKENURI = 'https://login.microsoftonline.com/%s/oauth2/token' % (TENANTID)
GRAPHSSLVERIFY = True

# Settings for notifications

# If all of these variables are set, email notifications will be sent to
# the EMAILTO address for all 'medium' and 'high' events.
# This can be useful for alerting/tracking purposes.
#
# EMAILSERVER           [Optional] FQDN of email server to use
# EMAILFROM             [Optional] Sender address for medium/high notifications
# EMAILTO               [Optional] Recipient of medium/high notifications

#EMAILSERVER = 'localhost'
#EMAILFROM = 'datp-to-eiq@yourcompany.com'
#EMAILTO = '<your-recipient'

# Settings for EclecticIQ

# Pick the right URL, e.g.: 'https://myeiqinstance.localdomain'.
EIQHOST = 'https://myeiqinstance.localdomain'
# Pick '/api' as the EIQVERSION for EIQ <=2.0.x, and '/private' for EIQ 2.1.x+
EIQVERSION = '/private'
# [Required] EIQ username and password:
EIQUSER = 'eiqautomationuser' 
EIQPASS = 'eiqautomationpass'
# [Required] EIQ 'source' UUID.
# One username can have multiple sources where it can 'ingest data' from.
# This 'source' can be found through the EIQ webinterface and JSON calls.
EIQSOURCE = '<eiq-source-uuid>'
EIQSSLVERIFY = False

# [Required] Choose a prefix/header that will be added to every EIQ entity for easy searches/recognition,
# and choose the maximum title length of attributes types that describe the content of indicators
TITLETAG = '[MyCERT DATP]'
TITLELENGTH = 70
